.custom-content{
            text-align: left;
            font-weight: normal;
        }
.custom-content h3{
    color:#333;
}
.my-5{
    margin:6px 0;
}
.black{
    color:#333
}
.row-spacing{
    margin-bottom: .4rem;
}
.right{
    text-align: right;
}
.f-right{
    float: right;
}
.mt_20{
    margin-top:20px
}
.mt_30{
    margin-top:30px
}
.mb_45{
    margin-bottom:45px
}
.normal{
    font-weight: normal;
}
.van-cell:after {
  border-bottom: none !important;
}
.flex{
    display: flex;
}
.van-field{
    padding:0;
}
.copy{
    display: inline-block;
    width: 35px;
    color:#6badd0
}
.info{
    background: #e6f6eb;
    height: 3.5rem;
    line-height: 3.5rem;

}
.info span{
    color:#67ac2d;
    margin-left:1rem;
}
.space-between{
    justify-content: space-between;
}
.main_color{
    color:#333
}
.mt-5{
    margin-top:-5px
}
.flex1{
    flex:1
}
.under_line{
    border-bottom: 1px dashed #f3f3f3;
    padding-bottom: 0.5rem;
}
.f-left{
    float: left;
}
.ts{
    width: 50%;
}
.ts input{
    color:#979797
}
.mb_5{
    margin-bottom: 5px;
}
.order input{
    text-align: right;
}
.green{
    color:#489873
}